## Import libraries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

## Import gun-violence-data.csv

In [2]:
# Import the dataset 'gun-violence-data.csv'
df = pd.read_csv(r'C:\Myra\CareerFoundry\Data Immersion\Achievment 6\Task 1\gun_violence_data.csv', index_col = False)

In [3]:
df.shape

(239677, 25)

In [4]:
# displaying the first five rows of the dataframe
df.head()

,incident_id,date,month,year,state,city_or_county,n_killed,n_injured,incident_url,source_url,...,longitude,n_guns_involved,participant_age_group,participant_gender,participant_status,participant_relationship,participant_type,sources,state_house_district,state_senate_district
0,461105,01/01/2013,Jan,2013,Pennsylvania,Mckeesport,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,...,-79.8559,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,NaN,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,01/01/2013,Jan,2013,California,Hawthorne,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,...,-118.3330,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,NaN,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,01/01/2013,Jan,2013,Ohio,Lorain,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,...,-82.1377,2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",NaN,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,05/01/2013,Jan,2013,Colorado,Aurora,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,...,-104.8020,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,NaN,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,07/01/2013,Jan,2013,North Carolina,Greensboro,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,...,-79.9569,2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,3::Family,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [5]:
# Printing the names of the columns in the df dataframe
df.columns

Index(['incident_id', 'date', 'month', 'year', 'state', 'city_or_county',
       'n_killed', 'n_injured', 'incident_url', 'source_url',
       'congressional_district', 'gun_stolen', 'incident_characteristics',
       'latitude', 'location_description', 'longitude', 'n_guns_involved',
       'participant_age_group', 'participant_gender', 'participant_status',
       'participant_relationship', 'participant_type', 'sources',
       'state_house_district', 'state_senate_district'],
      dtype='object')

In [6]:
# Checking data types of each column
df.dtypes

incident_id                   int64
date                         object
month                        object
year                          int64
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
incident_url                 object
source_url                   object
congressional_district      float64
gun_stolen                   object
incident_characteristics     object
latitude                    float64
location_description         object
longitude                   float64
n_guns_involved             float64
participant_age_group        object
participant_gender           object
participant_status           object
participant_relationship     object
participant_type             object
sources                      object
state_house_district        float64
state_senate_district       float64
dtype: object

In [7]:
# Checking to see if there are any missing values
df.isnull().sum()

incident_id                      0
date                             0
month                            0
year                             0
state                            0
city_or_county                   0
n_killed                         0
n_injured                        0
incident_url                     0
source_url                     468
congressional_district       11944
gun_stolen                   99498
incident_characteristics       326
latitude                      7923
location_description        197588
longitude                     7923
n_guns_involved              99451
participant_age_group        42119
participant_gender           36362
participant_status           27626
participant_relationship    223903
participant_type             24863
sources                        609
state_house_district         38772
state_senate_district        32335
dtype: int64

The columns 'location_description' and 'participant_relationship' have more than 80% null values in the rows. For this reason I will delete these two columns and would not consider them for my analysis. I might also delete more columns but right now it is too soon to decide which columns are needed and which are not.

In [8]:
# Deleting columns
df = df.drop(['participant_relationship', 'location_description'], axis=1)

In [9]:
df.shape

(239677, 23)

## Creating a dataset df_new

Creating a separate dataset to understand and check if there are inconsistencies or missing data among some columns

In [10]:
new_df = df[['incident_id', 'participant_age_group', 'participant_gender', 'participant_status', 'participant_type']]

In [11]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

Before I make changes to these columns, I need to address the inconsistencies. For example, all the four columns consisting of gender, status, type and age group do not have complete information. In the second row, there are atleast four people involved, which is seen by age groups but in the gender column only one participant is mentioned.

I need to count the number of participants in each cell and by counting '::', I can derive at the count of that cell

## Creating more columns consisting of counts of age group, gender, status and type

In [12]:
new_df['count_age_group'] = new_df['participant_age_group'].str.count('::')

C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\3633346574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['count_age_group'] = new_df['participant_age_group'].str.count('::')

In [13]:
new_df['count_gender'] = new_df['participant_gender'].str.count('::')
new_df['count_status'] = new_df['participant_status'].str.count('::')
new_df['count_type'] = new_df['participant_type'].str.count('::')

C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\3677532281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['count_gender'] = new_df['participant_gender'].str.count('::')
C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\3677532281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['count_status'] = new_df['participant_status'].str.count('::')
C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\3677532281.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['count_type'] = new_df['participant_type'].str.count('::')

In [14]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5.0,4.0,5.0,5.0
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4.0,1.0,4.0,5.0
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5.0,5.0,5.0,5.0
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4.0,4.0,4.0,4.0
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4.0,4.0,4.0,4.0

In [15]:
# Changing the type from floats to integers
new_df[['count_age_group', 'count_gender', 'count_status', 'count_type']] = new_df[['count_age_group', 'count_gender', 'count_status', 'count_type']].fillna(0).astype(int)

C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\815488569.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[['count_age_group', 'count_gender', 'count_status', 'count_type']] = new_df[['count_age_group', 'count_gender', 'count_status', 'count_type']].fillna(0).astype(int)

In [16]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,4,5,5
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,1,4,5
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5,5,5,5
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4

In [17]:
max_value = new_df[['count_age_group', 'count_gender', 'count_status', 'count_type']].max(axis=1)

In [18]:
new_df['diff_age_group'] = max_value - new_df['count_age_group']
new_df['diff_gender'] = max_value - new_df['count_gender']

C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\2709289907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['diff_age_group'] = max_value - new_df['count_age_group']
C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\2709289907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['diff_gender'] = max_value - new_df['count_gender']

In [19]:
new_df['diff_status'] = max_value - new_df['count_status']
new_df['diff_type'] = max_value - new_df['count_type']

C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\968068254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['diff_status'] = max_value - new_df['count_status']
C:\Users\Myra Ahsan\AppData\Local\Temp\ipykernel_27608\968068254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['diff_type'] = max_value - new_df['count_type']

In [20]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type,diff_age_group,diff_gender,diff_status,diff_type
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,4,5,5,0,1,0,0
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,1,4,5,1,4,1,0
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5,5,5,5,0,0,0,0
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0

In the above data, for example, diff_gender shows the number of unknown genders in the data. I will now address them one by one

### Separating and counting age groups

In [21]:
# The 'diff_age_group' column is actually the count of age group which is unknown so we will rename the column to unknown_gender
new_df = new_df.rename(columns={'diff_age_group': 'unknown_age_group'})

In the participant_age_group column three types of age groups are written - Child 0-11, Teen 12-17, Adult 18+

In [22]:
# Counting the age groups and putting them in separate columns for each incident 
new_df['Child 0-11 age'] = new_df['participant_age_group'].str.count('Child 0-11')

In [23]:
new_df['Teen 12-17 age'] = new_df['participant_age_group'].str.count('Teen 12-17')
new_df['Adult 18+ age'] = new_df['participant_age_group'].str.count('Adult 18+')

In [24]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type,unknown_age_group,diff_gender,diff_status,diff_type,Child 0-11 age,Teen 12-17 age,Adult 18+ age
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,4,5,5,0,1,0,0,0.0,0.0,5.0
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,1,4,5,1,4,1,0,0.0,0.0,4.0
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5,5,5,5,0,0,0,0,0.0,0.0,5.0
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0,0.0,0.0,4.0
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0,0.0,1.0,3.0

In [25]:
# Since the age columns are floats, I will change the datatype to integers
new_df[['Teen 12-17 age', 'Adult 18+ age', 'Child 0-11 age']] = new_df[['Teen 12-17 age', 'Adult 18+ age', 'Child 0-11 age']].fillna(0).astype(int)

In [26]:
# Renaming the age groups again as I want to change the format of the way I have written
new_df = new_df.rename(columns={'Teen 12-17 age': 'teen_12-17', 'Adult 18+ age': 'adult_18+', 'Child 0-11 age': 'child_0-11'})

### Separating and counting gender

In [27]:
# The 'diff_gender' column is actually the count of gender which is unknown so we will rename the column to unknown_gender
new_df = new_df.rename(columns={'diff_gender': 'unknown_gender'})

In [28]:
# Counting Male and Female separately and putting them in columns for each incident 
new_df['male_count'] = new_df['participant_gender'].str.count('Male')
new_df['female_count'] = new_df['participant_gender'].str.count('Female')

In [29]:
new_df[['male_count', 'female_count']] = new_df[['male_count', 'female_count']].fillna(0).astype(int)

In [30]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type,unknown_age_group,unknown_gender,diff_status,diff_type,child_0-11,teen_12-17,adult_18+,male_count,female_count
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,4,5,5,0,1,0,0,0,0,5,3,1
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,1,4,5,1,4,1,0,0,0,4,1,0
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5,5,5,5,0,0,0,0,0,0,5,5,0
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0,0,0,4,3,1
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,0,0,0,0,1,3,2,2

### Separating and counting status

In [31]:
# The 'diff_status' column is actually the count of statuses which is unknown so we will rename the column to unknown_status
new_df = new_df.rename(columns={'diff_status': 'unknown_status'})

In [32]:
# Counting statuses separately and putting them in columns for each incident 
new_df['arrested'] = new_df['participant_status'].str.count('Arrested')
new_df['injured'] = new_df['participant_status'].str.count('Injured')
new_df['killed'] = new_df['participant_status'].str.count('Killed')
new_df['unharmed'] = new_df['participant_status'].str.count('Unharmed')

In [33]:
# Changing the datatype
new_df[['arrested', 'injured', 'killed', 'unharmed']] = new_df[['arrested', 'injured', 'killed', 'unharmed']].fillna(0).astype(int)

In [34]:
new_df.head()

,incident_id,participant_age_group,participant_gender,participant_status,participant_type,count_age_group,count_gender,count_status,count_type,unknown_age_group,...,diff_type,child_0-11,teen_12-17,adult_18+,male_count,female_count,arrested,injured,killed,unharmed
0,461105,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,4,5,5,0,...,0,0,0,5,3,1,1,4,0,0
1,460726,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,1,4,5,1,...,0,0,0,4,1,0,0,3,1,0
2,478855,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,5,5,5,5,0,...,0,0,0,5,5,0,2,3,1,2
3,478925,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,...,0,0,0,4,3,1,0,0,4,0
4,478959,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,4,4,4,4,0,...,0,0,1,3,2,2,0,2,2,0

### Separating and counting participant_type

In [35]:
# The 'diff_type' column is actually the count of type which is unknown so we will rename the column to unknown_type
new_df = new_df.rename(columns={'diff_type': 'unknown_type'})

In [36]:
# Counting types separately and putting them in columns for each incident 
new_df['suspect'] = new_df['participant_type'].str.count('Subject-Suspect')
new_df['victim'] = new_df['participant_type'].str.count('Victim')

In [37]:
# Changing the datatype
new_df[['suspect', 'victim']] = new_df[['suspect', 'victim']].fillna(0).astype(int)

### Deleting extra columns from both dataframes

In [38]:
# Now that I have addressed gender, types, status and age groups, I will delete extra columns that I do not need from the original dataframe before merging it with new_df
new_df = new_df.drop(['participant_age_group', 'participant_gender', 'participant_status', 'participant_type', 'count_age_group', 'count_gender', 'count_status', 'count_type'], axis=1)

In [39]:
new_df.head()

,incident_id,unknown_age_group,unknown_gender,unknown_status,unknown_type,child_0-11,teen_12-17,adult_18+,male_count,female_count,arrested,injured,killed,unharmed,suspect,victim
0,461105,0,1,0,0,0,0,5,3,1,1,4,0,0,1,4
1,460726,1,4,1,0,0,0,4,1,0,0,3,1,0,1,4
2,478855,0,0,0,0,0,0,5,5,0,2,3,1,2,2,3
3,478925,0,0,0,0,0,0,4,3,1,0,0,4,0,1,3
4,478959,0,0,0,0,0,1,3,2,2,0,2,2,0,1,3

In [40]:
df.head()

,incident_id,date,month,year,state,city_or_county,n_killed,n_injured,incident_url,source_url,...,latitude,longitude,n_guns_involved,participant_age_group,participant_gender,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,01/01/2013,Jan,2013,Pennsylvania,Mckeesport,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,...,40.3467,-79.8559,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,01/01/2013,Jan,2013,California,Hawthorne,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,...,33.9090,-118.3330,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,01/01/2013,Jan,2013,Ohio,Lorain,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,...,41.4455,-82.1377,2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,05/01/2013,Jan,2013,Colorado,Aurora,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,...,39.6518,-104.8020,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,07/01/2013,Jan,2013,North Carolina,Greensboro,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,...,36.1140,-79.9569,2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

Deleting the 'date' column as I will only focus on the month and the year so date is irrelevant. Since there was already a column for people killed and injured and then I also extracted this information, I will be deleting the original two columns. This is because the columns I have created, that is, 'killed', 'injured', 'unknown_status' is more detailed than the original two since there was no unknown category initially

In [41]:
# Deleting 'date', 'n_killed' and 'n_injured' column along with the other irrelevant ones
df = df.drop(['participant_age_group', 'participant_gender', 'participant_status', 'participant_type', 'n_killed', 'n_injured', 'date'], axis=1)

In [42]:
df.head()

,incident_id,month,year,state,city_or_county,incident_url,source_url,congressional_district,gun_stolen,incident_characteristics,latitude,longitude,n_guns_involved,sources,state_house_district,state_senate_district
0,461105,Jan,2013,Pennsylvania,Mckeesport,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,14.0,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,Jan,2013,California,Hawthorne,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,43.0,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,NaN,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,Jan,2013,Ohio,Lorain,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,9.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,2.0,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,Jan,2013,Colorado,Aurora,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,6.0,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,NaN,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,Jan,2013,North Carolina,Greensboro,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,6.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,2.0,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

## Merging df and new_df

In [43]:
df.shape

(239677, 16)

In [44]:
new_df.shape

(239677, 16)

In [45]:
merged_df = pd.merge(df, new_df, on='incident_id')

In [46]:
merged_df.shape

(239677, 31)

In [47]:
merged_df.head()

,incident_id,month,year,state,city_or_county,incident_url,source_url,congressional_district,gun_stolen,incident_characteristics,...,teen_12-17,adult_18+,male_count,female_count,arrested,injured,killed,unharmed,suspect,victim
0,461105,Jan,2013,Pennsylvania,Mckeesport,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,14.0,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,...,0,5,3,1,1,4,0,0,1,4
1,460726,Jan,2013,California,Hawthorne,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,43.0,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0,4,1,0,0,3,1,0,1,4
2,478855,Jan,2013,Ohio,Lorain,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,9.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0,5,5,0,2,3,1,2,2,3
3,478925,Jan,2013,Colorado,Aurora,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,6.0,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",...,0,4,3,1,0,0,4,0,1,3
4,478959,Jan,2013,North Carolina,Greensboro,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,6.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,1,3,2,2,0,2,2,0,1,3

### Changing the column order

In [48]:
merged_df.columns

Index(['incident_id', 'month', 'year', 'state', 'city_or_county',
       'incident_url', 'source_url', 'congressional_district', 'gun_stolen',
       'incident_characteristics', 'latitude', 'longitude', 'n_guns_involved',
       'sources', 'state_house_district', 'state_senate_district',
       'unknown_age_group', 'unknown_gender', 'unknown_status', 'unknown_type',
       'child_0-11', 'teen_12-17', 'adult_18+', 'male_count', 'female_count',
       'arrested', 'injured', 'killed', 'unharmed', 'suspect', 'victim'],
      dtype='object')

In [49]:
# Changing the column order for convenience 
column_order = ['incident_id', 'month', 'year', 'state', 'male_count', 'female_count', 'unknown_gender', 'child_0-11', 'teen_12-17', 'adult_18+', 'unknown_age_group', 'arrested', 'injured', 'killed', 'unharmed', 'unknown_status', 'suspect', 'victim', 'unknown_type', 'latitude', 'longitude', 'city_or_county', 'incident_url', 'source_url', 'congressional_district', 'gun_stolen','incident_characteristics', 'n_guns_involved', 'sources', 'state_house_district', 'state_senate_district']

merged_df = merged_df[column_order]

In [50]:
merged_df.shape

(239677, 31)

In [51]:
merged_df.head()

,incident_id,month,year,state,male_count,female_count,unknown_gender,child_0-11,teen_12-17,adult_18+,...,city_or_county,incident_url,source_url,congressional_district,gun_stolen,incident_characteristics,n_guns_involved,sources,state_house_district,state_senate_district
0,461105,Jan,2013,Pennsylvania,3,1,1,0,0,5,...,Mckeesport,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,14.0,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,NaN,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,Jan,2013,California,1,0,4,0,0,4,...,Hawthorne,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,43.0,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",NaN,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,Jan,2013,Ohio,5,0,0,0,0,5,...,Lorain,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,9.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,Jan,2013,Colorado,3,1,0,0,0,4,...,Aurora,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,6.0,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,Jan,2013,North Carolina,2,2,0,0,1,3,...,Greensboro,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,6.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [54]:
# Deleting additional columns
merged_df = merged_df.drop(['city_or_county', 'congressional_district', 'gun_stolen', 'n_guns_involved', 'incident_characteristics'], axis=1)

In [55]:
merged_df.head()

,incident_id,month,year,state,male_count,female_count,unknown_gender,child_0-11,teen_12-17,adult_18+,...,suspect,victim,unknown_type,latitude,longitude,incident_url,source_url,sources,state_house_district,state_senate_district
0,461105,Jan,2013,Pennsylvania,3,1,1,0,0,5,...,1,4,0,40.3467,-79.8559,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,Jan,2013,California,1,0,4,0,0,4,...,1,4,0,33.9090,-118.3330,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,Jan,2013,Ohio,5,0,0,0,0,5,...,2,3,0,41.4455,-82.1377,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,Jan,2013,Colorado,3,1,0,0,0,4,...,1,3,0,39.6518,-104.8020,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,Jan,2013,North Carolina,2,2,0,0,1,3,...,1,3,0,36.1140,-79.9569,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [56]:
merged_df.shape

(239677, 26)

In [58]:
merged_df.columns

Index(['incident_id', 'month', 'year', 'state', 'male_count', 'female_count',
       'unknown_gender', 'child_0-11', 'teen_12-17', 'adult_18+',
       'unknown_age_group', 'arrested', 'injured', 'killed', 'unharmed',
       'unknown_status', 'suspect', 'victim', 'unknown_type', 'latitude',
       'longitude', 'incident_url', 'source_url', 'sources',
       'state_house_district', 'state_senate_district'],
      dtype='object')

## Export merged_df as a csv file

In [57]:
merged_df.to_csv('C:\Myra\CareerFoundry\Data Immersion\Achievment 6\Task 1\df_merged.csv', index=False)